#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navlink{
  padding: 0.5rem;
}
.rootmain{
  margin: 1.5rem 0;
}
.productcard{
  min-width: 10rem;
  min-height: 5rem;
  border: 3px solid;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.productcard span{
  padding: 0.3rem;
}
.productlist{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.productlist > * {
  flex: 0 0 25%;
  box-sizing: border-box;
}
.cartheader{
  font-weight: bold;
}
.cartitem {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: flex-start; /* Zentriert die Inhalte vertikal */

  max-width: 100%;
  border-bottom: 1px solid;
  padding: 1rem 0
}
.cartitem span  {
  text-align: center;
  font-size: 1rem;
}
.cartitem span{
  margin: 0 0.5rem;
}